html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 50vw) 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: " . main ." ". . socials";
  place-items: center;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle farthest-side, #62187de6, #6868b7c4, aquamarine) center /
    contain;
}

main {
  grid-area: main;
  max-width: 650px;
  background: radial-gradient(closest-side, #bddadfb3, #bddadf59, #bddadf00);
}

main,
#socials h1 {
  text-align: center;
}

#socials {
  grid-area: socials;
  place-self: stretch;
  background: radial-gradient(farthest-side at bottom right, #fff, 80%, #fff0);
}

#socials > dl {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 30px;

  /*
   * Twitter branding guidelines are that the logo be at least 32px wide.
   * (LinkedIn branding guidelines are that the bug be at least 21px high on
   * screen). Since we're using square logo images, we set --logo-size (width
   * and height) to 32px.
   *
   * Twitter branding guidelines are that the handle be scaled to 100% of the
   * height of the logo. In the version of the logo we're using, the height of
   * the actual logo graphic is 0.4764% of the dimensions of the image.
   *
   * LinkedIn branding guidelines are that the margin around the logo in all
   * directions be twice the width of the "i", which takes up 14.81% of the logo
   * dimensions. Since we margins in different grid cells don't collapse, we set
   * --logo-margin to the width of the "i", rather than twice that.
   */
  --logo-size: 32px;
  --handle-font-size: calc(var(--logo-size) * 0.4764);
  --logo-margin: calc(var(--logo-size) * 0.1481);
}
#socials dt {
  width: var(--logo-size);
  margin: var(--logo-margin);
}
#socials #social-twitter {
  content: url("./twitter-social.png");
  content: url("./twitter-social.png") / "Twitter:";
}
#socials #social-github {
  content: url("./github-social.png");
  content: url("./github-social.png") / "GitHub:";
}
#socials #social-linkedin {
  content: url("./linkedin-social.png");
  content: url("./linkedin-social.png") / "LinkedIn:";
}
#socials #social-matrix {
  content: url("./matrix-social.png");
  content: url("./matrix-social.png") / "Matrix:";
}
#socials #social-email {
  content: url("./email-social.png");
  content: url("./email-social.png") / "Email:";
}
#socials dd {
  font-size: var(--handle-font-size);
  margin: 0 var(--logo-margin);
}
#socials dd a {
  display: block;
}

@media (max-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15vw;
    min-height: 100vh;
    box-sizing: border-box;
  }

  main {
    max-width: unset;
  }

  #socials {
    background: radial-gradient(circle closest-corner at bottom center, #fff, #fff0);
    margin: 0;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0 30px;
  }
}
